@font-face {
  font-family: "RS3Font";
  src: url("./../fonts/RS3Font.woff2") format("woff2");
  font-display: swap; /* Optional for better performance */
}
#root {
  font-family: RS3Font !important;
}
body {
  background-image: url("./../background.png");
}

.AccordionContainer {
  margin-bottom: 0.5em;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #ccc;
  border-bottom-color: silver;
  border-radius: 0.25em;
}

.AccordionContainer:hover {
  background-color: rgb(39, 103, 139);
}
.AccordionItem {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.AccordionContentContainer {
  padding: 10px;
  border-top: 1px solid #ccc;
}
.AccordionContent {
  color: white;
  list-style-type: none;
  margin-bottom: 0.625em;
  text-align: center;
  display: block;
}
