body {
  background-image: url("./../Assets/App Images/background.png");
}
.DivQuestNameAccord {
  margin-bottom: 0.5em;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #ccc;
  border-bottom-color: silver;
  border-radius: 0.25em;
}

.DivQuestNameAccord:hover {
  background-color: rgb(39, 103, 139);
}
.QuestNameAccord {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
